<div class="container">
  <h1>Austin's List</h1>
  <p>Welcome! Take a look at our catagories!</p>

  <% @catagory.each do |catagory| %>
    <ul>
      <li class="catagory" id="category-<%= catagory.id %>">
        <h3>
          <a class="show-catagory" id="<%= catagory.id %>" href="/catagories/<%= catagory.id %>"><%= catagory.title %></a>
        </h3>
      </li>
    </ul>
  <% end %>
</div>
