<div class="container">
    <h1><a href="<%="/categories/#{@category.id}/articles"%>"><%= @category.name %></a></h1>
    <p>Here's your special URL so that you can come back and edit your post if you need to:</p>
    <p><!-- NEED TO GENERATE SPECIAL KEY. HELPER METHOD? --></p>
</div>
