
Houston, we have a problem.
<br>
<br>
<% @object_with_errors.errors.full_messages.each do |msg| %>
  <p class='error-msg'> <%=msg%> </p>
<%end%>
<br>
<a href="/">Return to Sparky's List, Junior, list of categories!</a>




