<div class="container">
  <h1>Craigslist Junior</h1>
  
  <table>
  <tr><th><%= @category_name.capitalize %></th></tr>
  <% @category.each do |article| %>
  <tr><td>- <a href="/articles/show?q=<%= article.title %>"> <%= article.title %></a> </td></tr>
  <% end %>
  </table>
</div>