<h3>Catagory: <%= @catagory.title %></h3>

<h3>Articles:</h3>
<% @articles.each do |article| %>
  <h2><%= article.title %></h2>
<% end %>

<a class="show-form" data-catagory-id="<%= @catagory.id %>" href="/catagories/<%= @catagory.id %>/articles/new">
  <h3>Create a new article here</h3>
</a>
