
<%if @articles.length == 0%>
  <h2>There are no listings in this category. You can change that. Add a listing now!</h2>
<%else%>
  <h2>Listings for Category <em><%=@category.name%>:</em></h2>
  <%@articles.each do |article|%>
    <br>
    <a href="articles/<%=article.id%>"><%=article.title%></a>
  <%end%> 
<%end%> 
<br>
<br>

<form action="articles/new" method='get'>
  <input type='submit' value='Create New Listing in This Category'>
</form>





