
<h2> Let's Add a New Article!</h2>
<br>
<form action='../articles' method='post'
  <input type='hidden' name='category_id' value=<%=@category.id%>
  Category:<input type='text' name=category_name value=<%=@category.name%> readonly><br>
  <fieldset>
    <legend>Title</legend>
    <input type='text' name= 'article[title]' ><br>
  </fieldset>
  <br>
  <fieldset>
    <legend>Listing Details</legend>
    <label>Description: </label> <input type='text' name='article[description]'><br>
    <label>Price (in cents): </label><input type='text' name='article[price]'><br>
    <label>E-mail: </label><input type='text' name='article[email]'><br>
  </fieldset>
  <br>
  <input type='submit' value='Save Article'>
</form>




  




