<h1> Sparky's List, Junior...Your #1 Source for Cool Stuff! </h1>
<br>
<br>
<h2> Let's Add a New Article!</h2>
<br>
<br>
<form action='../articles' method='post'
  <input type='hidden' name='category_id' value=<%=@category.id%>
  Category:<input type='text' name=category_name value=<%=@category.name%> readonly><br>
  Title: <input type='text' name= 'article[title]' ><br>
  Description: <input type='text' name='article[description]'><br>
  Price (in cents): <input type='text' name='article[price]'><br>
  E-mail: <input type='text' name='article[email]'><br>
  <input type='submit' value='Save Article'>
</form>




  




