 
<%if @save_or_create == 'save'%>
  <% msg = 'Your changes have been saved.'%>
<%else%>
  <% msg = 'Your article has been added.'%>
<%end%>
<h2> <%=msg%> Use this secret URL to edit your article!</h2>
<br>
<br>
Top Secret URL: <%=@secret_url%>
<br>
<br>
<br>
<a href="/">Return to Sparky's List, Junior, list of categories!</a>

  
  

