<h1 CraigsList, Junior...Your #1 Source for Cool Stuff! </h1>
<br>
<br>
<h2 Here is information for your secret URL to edit your article:</h2>
<br>
<br>
Top Secret URL: <%=@secret_url%>
<br>
<br>

<br>

 <a href="/">Return to CraigsList Jr. Homepage!</a>

  
  

