<div class="container" align="center">
  <h1>Here is your <em>secret key</em></h1>
    <h2>Be sure to save this key!</h2>
      <p>In order to edit your article in the future, please have this secret key handy!
      </p>
    <h2>Your secret key is: <%= @secret_key %></h2>


    <HR>
      <a href="/">Take Me Home</a>
</div>
