<div class="container" align="center">
  <h1>YOU MADE IT TO THE INDIVIDUAL ARTICLE</h1>
    <p>
    <HR>
        <strong> <%= @article.title.upcase %> </strong>
        <br><br>
        Description: <%= @article.description %>
        <br><br>
        Price: <%= @article.price %>
        <br><br>
        Contact: <%= @article.contact %>
        <br>
        <HR>
    </p>




    <a href="/">Take Me Home</a>
</div>
