<h1 CraigsList, Junior...Your #1 Source for Cool Stuff! </h1>
<br>
<br>
<h2 Here is information for your selected article.</h2>
<br>
<br>
Title: <%=@article.title%>
<br>
Description: <%=@article.description%>
<br>
Price: <%=@article.price%>
<br>
Contact: <%=@article.email%>
<br>

 <a href="../articles">Return to List of Articles</a>

  




