

<fieldset>
  <legend>Listing Details</legend>
  Title: <%=@article.title%>
  <br>
  <br>
  Description: <%=@article.description%>
  <br>
  <br>
  Price (in cents): <%=@article.price%>
  <br>
  <br>
  Contact: <%=@article.email%>
  <br>
</fieldset>
<br>
<a href="../articles">Return to List of Articles</a>

  




