<h1> Sparky's List, Junior...Your #1 Source for Cool Stuff! </h1>
<br>
<br>
<br>
Title: <%=@article.title%>
<br>
Description: <%=@article.description%>
<br>
Price (in cents): <%=@article.price%>
<br>
Contact: <%=@article.email%>
<br>

 <a href="../articles">Return to List of Articles</a>

  




