<div class="container">
  <h1>Craigslist Junior</h1>
  <br>
  <div class="title">
    <p><%= @article.title %></p>
  </div>

  <div class="Price">
    <p>$<%= @article.price %></p>
  </div>

  <div class="Email">
    <p>Contact: <%= @article.email %></p>
  </div>

  <div class="Description">
    <p><%= @article.description %></p>
  </div>


</div>