

Title: <%=@article.title%>
<br>
Description: <%=@article.description%>
<br>
Price (in cents): <%=@article.price%>
<br>
Contact: <%=@article.email%>
<br>

<a href="../articles">Return to List of Articles</a>

  




