<h2 class='container' align="center">
  <a href="/categories/<%= @category.id%>">
    <%= @category.name %>
  </a>
</h2>
<a href="/categories/<%= @category.id%>/articles/new"><button>Create new article</button></a>
