<div class="container">
  <h1>Craigslist Junior</h1>
  <p>The Web's Local Paper</p>

  <table>
    <tr><th>Categories</th></tr>
    <% @categories.each do |category| %>
    <tr><td> - <a href="/articles?q=<%= category.name %>"> <%= category.name %></a> </td></tr>
    <% end %>
  </table>
</div>