<div class="container" align="center">
  <h1>YOU MADE IT TO ALL THE CATEGORIES</h1>
    <p>
      <% @all_categories.each do |category| %>
        <li><a href="/categories/<%=category.id%>/articles">
        <%= category.name.capitalize %></li></a><br>
      <% end %>
    </p>





</div>
