<div class="container" align="center">
  <h1>All Categories:</h1>
    <p>
      <% @all_categories.each do |category| %>
        <a href="/categories/<%=category.id%>/articles">
        <%= category.name.capitalize %></a>
        <br><HR>
      <% end %>
    </p>



    <a href="/categories/new">NEW CATEGORY</a>
    <HR>
    <a href="/">Take Me Home</a
</div>
