<h1>All the categories</h1>

<a href="/categories/new">Create new category!</a>
<br><br>

<% @categories.each do |category| %>
  <a href="categories/<%= category.id %>/articles"><%= category.name %></a>
  <br>
<% end %>
