<div name='wrapper' align='center'>

<h1>Craigslist Jr.</h1>

  <% @categories.each do |category| %>
    <p>
      <a href='/categories/<%= category.id %>/articles'>
        <%= category.name %>
      </a>
    </p>
  <% end %>

</div>
