

<h2>Click on a category to view its listings.</h2>
<br>
<fieldset>
  <legend>Exciting Categories</legend>
  <%@categories.each do |category|%>
    <br>
    <a href="categories/<%=category.id%>/articles"><%=category.name%></a>
  <%end%> 
</fieldset>


