<h1 Welcome to CraigsList, Junior! </h1>
<br>
<h2>For which category would you like to view articles?</h2>
<br>
<br>

<%@categories.each do |category|%>
  <br>
  <a href="categories/<%=category.id%>/articles"><%=category.name%></a>
<%end%> 


