<div class="container" align="center">
  <h1>Got a new Category???</h1>
  <form name="create_category"action="/categories" method="post">
    <input type="text" name="category[name]" placeholder="enter Category">
    <input type="submit" value="Make This BadBoy">
</form>
  <h5>Well aren't you fancy?</h5>
  <HR>
  <a href="/">Take Me Home</a>
</div>
