<form name="create_category"action="/categories" method="post">
  <fieldset>
    <legend>Create Category:</legend>
    <input type="text" name="category[name]" placeholder="Your category here...">
    <input type="submit" value="Create!">
  </fieldset>
</form>
