<div name='wrapper' align='center'>

<h2><%= @category.name %></h2>

  <% @articles.each do |article| %>
    <p>
      <a href='/categories/<%= @category.id %>/articles/<%= article.id %>'>
        <%= article.name %>
      </a>
    </p>
  <% end %>

</div>

