<%= erb :'categories/_category_header' %>

<% if @category.articles %>
  <% @category.articles.each do |article|%>
    <div class='container'>
      <p align='center'>
        <a href="/categories/<%=@category.id%>/articles/<%=article.id%>">
          <%= article.title %>
        </a>
      </p>
    </div>
  <% end %>
<% end %>
