<h1><%= @category.name %> Articles</h1>

<% @articles.each do |article| %>
  <li>
    <a href="articles/<%= article.id %>"><%= article.title %></a>


    <em>Posted on <%= article.created_at.localtime %></em>
  </li>
  <br>
  <% end %>
