<form method="post" action="/articale" >
  <input type = "text" name = "articale[title]" >
  <input type = "text" name = "articale[description]" >
  <input type = "decimal" name = "articale[price]" >
  <input type = "text" name = "articale[email]" >
  <input type = "submit">
</form>
