<div class="container">
  <h1>Craigslist Junior</h1>
  
  <h2 class="Welcome">Welcome</h2>

  <form class="button-home">
    <button name="categories" type="submit" value="Categories" formmethod="get" formaction='/categories'>Categories</button>
  </form>

  <form class="button-home">
    <button type="submit" formmethod="get" formaction='/articles/new'>New Listing</button>
  </form>

  <form class="button-home">
    <button name="edit" type="submit" value="edit" formmethod="get" formaction='/categories'>Edit</button>
  </form>
</div>
