<div class="container" align="center">
<style>
body {background-color: #808285;}
p {background-color: #dddddd;}
</style>
<body>
  <h1 style="color:#b6fcd5;"><strong>THE LIST</strong></h1>

  <p>Lookin' for some stuff???</p>

  <p>
      <a href="/categories">All Categories</a>
    </p>
      <br>
    <p>
      <a href="/articles">All Articles</a>
    </p>

</body>
</div>
