<div class="container" align="center">
  <h1>The LIST</h1>
  <p>Lookin' for some stuff???</p>

<table>
<div>
<a href="/categories">All Categories</a>
</div>
<br>
<div>
<a href="/categories">All Articles</a>
</div>
</table>
</div>
