<div class="container">
  <h1>Austin's List</h1>
  <p>Welcome! Take a look at our catagories!</p>

  <% @catagory.each do |one_catagory| %>
    <ul>
      <li>
        <a href="/catagories/<%= one_catagory.id %>"><%= one_catagory.title %></a>
      </li>
    </ul>
  <% end %>
</div>
