<div class="container" align="center">

<body>
  <h1 style="color:blue;">Welcome to <strong>THE LIST</strong></h1>

  <p>Lookin' for some stuff???</p>

  <table>
    <div>
      <a href="/categories">All Categories</a>
    </div>
      <br>
    <div>
      <a href="/articles">All Articles</a>
    </div>
  </table>


</body>
</div>
